/*
Colors used:
Primary Color
(White): #FFFFFF;
Secondary Colors
(Black): #323230;
(Light Grey): #F0EFEF;
(Orange): #EA7639;
*/

* {box-sizing: border-box;}

/* Layout styling */

.container {padding: 0 15px;}

[class*="col-"] {
    float: left;
    padding: 10px;
  }

.row {margin: 50px 0; /* 25px top and bottom, 0 left and right */
    border-bottom: 1px solid #323230;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 25px;
    padding-left: 5px;
    content: "";
    clear: both;
    display: table;
      }
   

.logo {max-width: 75px;
       padding-top: 15px;
       padding-right: px;
       padding-bottom: 5px;
       padding-left: px;
    }

.profile {max-width: 400px;
          justify-content: center;
          padding-top: 15px;
          padding-right: px;
          padding-bottom: 5px;
          padding-left: px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
          
.social {max-width: 100px;
          padding-top: 35px;
          padding-right: px;
          padding-bottom: 35px;
          padding-left: px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
          
.images-container {display: flex; 
                   justify-content: center;
                   align-items: center;
                   }

.button-container-email {display: flex; 
                         justify-content: center;
                         align-items: center;
                         padding-top: 35px;
                         padding-right: px;
                         padding-bottom: 35px;
                         padding-left: px;
                        }

.button-container {display: flex; 
                   justify-content: right;
                   align-items: center;
                   padding-top: 10px;
                   padding-right: px;
                   padding-bottom: 10px;
                   padding-left: px;
                }
                          
    
header {background-color: #ffffff;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.10);
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.10);
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.10);
        position: relative
    }

nav > {display: inline-block; 
       width: 100%
    }

nav > ul {list-style-type: none;
          padding: 0;
        }        

nav > ul > li {display: inline-block;
}

nav > ul > li > a {padding: 0 15px;
                   display: inline-block;
                   padding: px;
                   padding-right: 20px;
                   padding-left: 20px;
                   text-transform: uppercase;
                   font-weight: 400;
                   color: #323230;
                }

nav > ul > li > a {color: #323230; text-decoration: none; /* No underlining */
}

nav > ul > li > a hover {color: #EA7639; /* Underlining when hovering over a link */
}

nav > ul > li > a visited {color: #323230; /* visited link */
}

nav > ul > li > a active {color: #323230; /* selected link */
}

nav > ul > li > a focus {color: #323230;
}


main #skills li {font-family: 'Lato', sans-serif;}       

body
     {background-color: #FFFFFF;
     font-family: 'Poppins', sans-serif;
     font-size: 16px; /* Sets the font size to 16px */
     font-weight: 300; /* Sets the font weight to 300 */
     line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
     color: #323230;
    }

     #hero p {text-align: center; /* Centers text */}
     
     #hero span {display: block;}

     #hero {background-color: #ffffff;
            padding: 20px 0;
            display: inline-block;
            width: 100%;
        }
     
    footer p {text-align: center;
    }
     
    #about p {text-align: center; /* Centers text */
    }

    #skills {text-align: left; /* Centers text */
    }

     h1, h2, h3, h4
     {line-height: 1.1;}
     
     h1 {font-size: 2.75em; font-weight: 700;
        text-align: left; /* Centers text */
        color: #ffffff;
        background-color: #323230;
        border-bottom: 0px solid #F0EFEF;
        padding-top: 8px;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 20px;
    }
     
     
    h2 {font-size: 2.25em; font-weight: 700;}
    
    #about h3 {font-size: 2.25em; font-weight: 400;}
     
    h3 {font-size: 1.75em; font-weight: 400;}
     
    h4 {font-size: 1.35em; font-weight: 400;}

    p {font-family: 'Lato', sans-serif;}

    header li {font-family: 'Poppins', sans-serif; font-weight: 300;}


     img {width: 100%;}

     a {color: #323230;text-decoration: none; /* No underlining */}
     a:hover {color: #EA7639; text-decorationn: underline; /* Underlining when hovering over a link */}
     a:visited { /* visited link */color: #ffffff;}
     a:active { /* selected link */color: #EA7639;}
     a:focus {color: #EA7639;text-decoration: underline;}


     .button {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: #EA7639;
        color: #ffffff; /* needed to override the default link color */
        font-weight: 400;
        padding: 6px 20px 6px 20px; 
        border-radius: 10px;
        border-bottom: 0px solid #994c30; /* width of the border, type, color */
        transition: 0.2s opacity;
        }
     
     .button:hover {background-color: #df6422; /* Reduces the opacity of the button to 80% */
            color: #ffffff;}
     
     .button.contact {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
        background-color: #ffffff;
        color: #EA7639; /* needed to override the default link color */
        text-transform: uppercase;
        font-weight: 400;
        border: 2px solid #EA7639;
        padding: 6px 24px 6px 24px; 
        border-radius: 10px;
        border-bottom: 2px solid #EA7639; /* width of the border, type, color */
        transition: 0.2s opacity;
          }
     
     .button.contact:hover {background-color: #EA7639; /* Reduces the opacity of the button to 80% */
            color: #ffffff;
        }

        
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px){
    header 
        {text-align: unset;
        padding: 20px 0 13px;}
      
    
      nav 
        {width: auto;
        float: right;
        margin-top: 4px;}
      

      .col-md-6 
        {width: 50%;}
      }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
        